*.pyc
.idea
.DS_Store
build/
dist/
.eggs
*.icns
__pycache__
.ipynb_checkpoints/
refnx.egg-info/
src/_cevent.c
src/_creflect.c
src/_creflect.cpp
src/_cutil.c
build.log
doc/_build/
t.txt
t
.cache/
refnx/version.py
benchmarks/.asv

# testing artifacts
PLP*dat
PLP*xml
c_PLP0000708.dat
c_PLP0000708.xml
offspec.xml
test1.dat
test.dat
test.xml
