numpy
numba; python_version != "3.12"
cython
scipy
orsopy
h5py
pandas
xlrd
pytest
ipywidgets
IPython
matplotlib
traitlets
PyQt6-Qt6==6.6.1
PyQt6==6.6.1
PyQt6-sip=13.6.0
qtpy
uncertainties
setuptools
attrs
corner
tqdm
periodictable
pytensor
pymc
pytest-qt
