environment:

  # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
  # /E:ON and /V:ON options are not enabled in the batch script interpreter
  # See: http://stackoverflow.com/a/13751649/163740
  CMD_IN_ENV: "cmd /E:ON /V:ON /C obvci_appveyor_python_build_env.cmd"

  # Workaround for https://github.com/conda/conda-build/issues/636
  PYTHONIOENCODING: "UTF-8"

  matrix:
    # Note: Because we have to separate the py2 and py3 components due to compiler version, we have a race condition for non-python packages.
    # Not sure how to resolve this, but maybe we should be tracking the VS version in the build string anyway?
    - TARGET_ARCH: x64
      CONDA_NPY: 115
      PYTHON_VERSION: 3.7
      CONDA_INSTALL_LOCN: C:\\Miniconda36-x64

#    - TARGET_ARCH: x64
#      CONDA_NPY: 115
#      PYTHON_VERSION: 2.7
#      CONDA_INSTALL_LOCN: C:\\Miniconda-x64

# We always use a 64-bit machine, but can build x86 distributions
# with the TARGET_ARCH variable (which is used by CMD_IN_ENV).
platform:
    - x64

init:
    - "ECHO %PYTHON_VERSION% %CONDA_INSTALL_LOCN%"
    - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%"
    - "ECHO \"%APPVEYOR_SCHEDULED_BUILD%\""
    # cancel build if newer one is submitted; complicated
    # details for getting this to work are credited to JuliaLang
    # developers
    - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
        https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
        Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          raise "There are newer queued builds for this pull request, skipping build."
        }

install:
    - "set PATH=%CONDA_INSTALL_LOCN%;%CONDA_INSTALL_LOCN%\\Scripts;%PATH%"

    # Set the CONDA_NPY, although it has no impact on the actual build. We need this because of a test within conda-build.
    - cmd: set CONDA_NPY=19

    # Remove cygwin (and therefore the git that comes with it).
    - cmd: rmdir C:\cygwin /s /q

    # Add path, activate `conda` and update conda.
    - conda config --set always_yes yes --set changeps1 no
#    - cmd: call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
    - cmd: set PYTHONUNBUFFERED=1

    # Add our channels.
    - conda config --set show_channel_urls true
    - conda update --yes --quiet conda

    # create conda environment
    - conda create --yes -n test python=%PYTHON_VERSION%
    - conda info --envs

    # Configure the VM.
    - activate test
    - conda install --yes --quiet numpy scipy h5py cython traitlets ipywidgets xlrd pandas pytest pyqt
    - pip install corner uncertainties matplotlib IPython pytest-qt periodictable pyqt5
    - pip install git+https://github.com/pymc-devs/pymc3

build_script:
    # Build the compiled extension
    - python setup.py install

test_script:
    # Run the project tests
    - cmd: set "REQUIRE_C=1"
    - pytest

after_test:
    # If tests are successful, create binary packages for the project.
    - python setup.py bdist_wheel
    - ps: "ls dist"

artifacts:
    # Archive the generated packages in the ci.appveyor.com build report.
    - path: dist\*.whl