# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

jobs:

- job: 'Test'
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip && pip install numpy scipy cython traitlets ipython ipywidgets pandas h5py xlrd pytest tqdm corner uncertainties matplotlib pyqt5 pytest-qt periodictable
  # - script: pip install git+https://github.com/pymc-devs/pymc3

    displayName: 'Install dependencies'

  - script: |
      pip install .
      pip install pytest
      pytest
    displayName: 'pytest'

  - script: |
      pip install wheel
      python setup.py bdist_wheel
    displayName: 'wheel'

  - script: |
      pip uninstall -y pandas h5py xlrd pytest pytest-qt

      # more recent versions of setuptools don't work with PyInstaller
      pip install setuptools==44

      # fix for multiprocessing on Py3.8 is not merged in PyInstaller
      # if you are on Py3.7 you can just pip install pyinstaller
      pip install git+https://github.com/andyfaff/pyinstaller.git@gh4865

      pyinstaller misc/app/motofit.spec
    displayName: 'Frozen refnx GUI'
    condition: in(variables['python.version'], '3.8')

  - task: CopyFiles@2
    inputs:
      contents: dist/**
      targetFolder: $(Build.ArtifactStagingDirectory)

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: refnx_wheels
