[build-system]
requires = [ "setuptools", "cython", "wheel", "numpy", "oldest-supported-numpy"]
build-backend = "setuptools.build_meta"

[project]
name = "refnx"
requires-python = ">=3.7"
dynamic=["version", "description", "readme", "license", "classifiers", "urls", "authors", "entry-points"]



[tool.cibuildwheel]
skip = "pp* cp36-* cp37-*"
test-command = "pytest --pyargs refnx.reflect.test.test_reflect"
manylinux-x86_64-image = "manylinux2014"

[tool.cibuildwheel.macos]
archs = ["x86_64", "universal2", "arm64"]

# On an Linux Intel runner with qemu installed, build Intel and ARM wheels
[tool.cibuildwheel.linux]
archs = ["x86_64"]

[tool.cibuildwheel.windows]
archs = ["AMD64"]
