setuptools==46.2.0
nbsphinx
jupyter-sphinx==0.2.4
sphinxcontrib-bibtex<2.0.0
sphinx_rtd_theme
tqdm
corner
periodictable
pandoc
scipy
numpy
sphinx
pandas
numpydoc
h5py
nbconvert
ipywidgets
cython
jupyter
matplotlib
pytest
xlrd
