nbsphinx
jupyter-sphinx
sphinxcontrib-bibtex
sphinxcontrib-jquery
jinja2
sphinx_rtd_theme
# tqdm
corner
periodictable
pandoc
scipy
numpy
sphinx<7        # sphinx-rtd-theme 1.2.2 requires sphinx<7,>=1.
pandas
numpydoc
h5py
nbconvert
ipywidgets
cython
jupyter
matplotlib
pytest
xlrd
