nbsphinx
jupyter-sphinx
sphinxcontrib-bibtex<2.0.0
jinja2
sphinx_rtd_theme
tqdm
corner
periodictable
pandoc
scipy
numpy
sphinx==5.0.2
pandas
numpydoc
h5py
nbconvert
ipywidgets
cython
jupyter
matplotlib
pytest
xlrd
