# This action releases refnx on PyPI for every version tagged commit (e.g. v0.0.1)
name: PyPI/Github Release

on:
  push:
    tags:
      - "v*"

jobs:
  build_wheels:
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    strategy:
      matrix:
        os: [windows-latest, macos-14]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: build wheels
        uses: pypa/cibuildwheel@42728e866bbc80d544a70825bd9990b9a26f1a50 # v2.23.1
        env:
          CIBW_TEST_COMMAND: pytest --pyargs refnx.reflect.test.test_reflect
          CIBW_ARCHS_MACOS: "x86_64 arm64"
          CIBW_ENVIRONMENT_MACOS: MACOSX_DEPLOYMENT_TARGET="10.13"

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl


  build_linux_x86_64_wheels:
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: build wheels
        uses: pypa/cibuildwheel@42728e866bbc80d544a70825bd9990b9a26f1a50 # v2.23.1
        env:
          CIBW_TEST_COMMAND: pytest --pyargs refnx.reflect.test.test_reflect
          CIBW_BUILD: "*-manylinux_x86_64"

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: wheels-manylinux
          path: ./wheelhouse/*.whl


  build_linux_musl_wheels:
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: build wheels
        uses: pypa/cibuildwheel@42728e866bbc80d544a70825bd9990b9a26f1a50 # v2.23.1
        env:
          CIBW_TEST_COMMAND: pytest --pyargs refnx.reflect.test.test_reflect
          CIBW_BUILD: "*-musllinux_x86_64"

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: wheels-musllinux
          path: ./wheelhouse/*.whl


  make_sdist:
    name: Make sdist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Build sdist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: wheels-sdist
        path: dist/*.tar.gz


  check-version:
    runs-on: ubuntu-latest
    needs: [build_linux_musl_wheels, build_linux_x86_64_wheels, build_wheels, make_sdist]

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Python
      uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
      with:
        python-version: 3.11
    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        pattern: wheels-*
        merge-multiple: true
        path: dist
    - name: Check version
      run: |
        python -m pip install numpy scipy orsopy
        ls dist
        python -m pip install --only-binary=refnx --no-index --find-links=dist refnx
        cd dist
        RNX_VERSION="$(python -c "import refnx;print(refnx.version.release)")"
        cd ..
        if  [ $RNX_VERSION == "True" ]; then
          echo "It's a release version of refnx"
          else
            echo "This is not a release version of refnx"
            exit 1
        fi


  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    needs: [check-version]
    environment:
      name: pypi
      url: https://pypi.org/p/refnx
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        pattern: wheels-*
        merge-multiple: true
        path: dist

    - name: Upload to PyPI
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
      with:
        # repository-url: https://test.pypi.org/legacy/
        skip_existing: true


  release-github:
    runs-on: ubuntu-latest
    needs: [ pypi-publish ]

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      with:
        pattern: wheels-*
        merge-multiple: true
        path: dist

    - uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
      with:
        artifacts: "dist/refnx*.tar.gz"
        token: ${{ secrets.GITHUB_TOKEN }}
        allowUpdates: true
        generateReleaseNotes: true
